# Ignore node_modules, .env, etc.
# Dependencies
server/node_modules/

# Environment Variables (Secrets)
server/.env

# Build Outputs
dist/
build/

# User Uploads (Don't save test images to code)
server/uploads/*
!server/uploads/.gitkeep

# System Files
.DS_Store